#hero {
    width: 100%;
    height:80vh;
    background: url("../img/taipei101.jpg") top;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
  }
  

  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px 0 2px #2f4d5a;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: -1px 0 2px #2f4d5a;
  }
  
  #hero .btn-get-started {
    font-size: 36px;
    display: inline-block;
    padding: 4px 0;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    padding-top: 8px;
    background: rgba(255, 255, 255, 0.15);
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  /* =======搜尋列======== */

  .s01 form {
    width: 100%;
  }
  
  .s01 form legend {
    font-size: 72px;
    line-height: 1;
    color: #fff;
    margin-bottom: 60px;
  }
  
  .s01 form .inner-form {
    background: rgba(0, 0, 0, 0.13);
    padding: 15px 15px;
    display: flex;
    width: 100%;
    border-radius: 2%;
  }
  
  .s01 form .inner-form .input-field {
    margin:5px;
    height:48px;
  }
  
  .s01 form .inner-form .input-field input {
    height: 100%;
    background: #fff;
    border-radius: 5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  

  
  .s01 form .inner-form .input-field.second-wrap {
    width: 250%;
    min-width: 180px;
  }
  
  .s01 form .inner-form .input-field.third-wrap {
    width: 420px;
    margin-right: 0;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 100%;
    width: 100%;
    background: #4272d7;
    white-space: nowrap;
    border-radius:5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #2d62d3;
  }
 
  .s01 .box select {
    background-color: #ffffff;
    border-radius: 5px;
    color: #575656;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.281);
    -webkit-appearance: button;
    appearance: button;
  }
  
  


 